# App (aman diekspos ke client)
VITE_APP_NAME="PILOK - Armada Darat"

# Google OAuth (server-side only)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Google Sheets (server-side only)
GOOGLE_SPREADSHEET_ID=
GOOGLE_MASTER_SHEET_NAME=master_data
GOOGLE_SUBMISSION_SHEET_NAME=submission_pilok_armada_darat
